* {
  font-family: "Manrope", sans-serif !important;
}

.MuiBox-root .css-j1nhbh {
  background-color: white;
}

.css-12yno1j-MuiPaper-root-MuiAppBar-root {
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none !important;
}

.my_profile-bg {
  width: 340px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.my_profile_user-img {
  border-radius: 100%;
  margin-left: -64px;
}

.property_details-img {
  width: 100%;
}

.css-ga59me-MuiInputBase-input-MuiOutlinedInput-input {
  color: black !important;
}

.css-q4bt8w-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-q4bt8w-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-q4bt8w-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: black !important;
}

@media screen and (max-width: 900px) {
  .my_profile-bg {
    width: 100%;
    border-radius: 15px;
  }

  .my_profile_user-img {
    margin-left: 0px;
    margin-top: -64px;
  }

  .property_details-img {
    width: 100%;
    height: auto;
  }
}
